/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    background-color: #f4f4f4;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

main {
    padding: 20px;
}

#file-list {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/*
th:nth-child(1), td:nth-child(1) { width: 60%; }
th:nth-child(2), td:nth-child(2) { width: 10%; }
th:nth-child(3), td:nth-child(3) { width: 10%; }
th:nth-child(4), td:nth-child(4) { width: 10%; }
th:nth-child(5), td:nth-child(5) { width: 20%; }
*/

th {
    background-color: #f2f2f2;
}

td button {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}

td button:hover {
    background-color: #d32f2f;
}

/* Custom alert box styles */
.custom-alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.custom-alert-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.custom-alert-content h2 {
    color: #f44336;
    margin-bottom: 10px;
}

.custom-alert-content p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #333;
}

#close-alert {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

#close-alert:hover {
    background-color: #45a049;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: white;
}

.user-actions a {
    margin-left: 10px;
}

#upload-progress {
    display: none;
    margin-left: 10px;
    font-size: 14px;
    color: #000000;
}
